.grid-container {
  background-image: url("https://i.pinimg.com/originals/2f/59/b6/2f59b6abdd86b71c91c05072d2b42793.jpg");
  background-repeat: no-repeat;
  background-size: auto;
  padding: 100px;
  image-rendering: -webkit-optimize-contrast;
  margin-left: -10px;
  margin-right: -10px;
  margin-top: -10px;
  padding-bottom: 70px;
}

body {
  background-color: rgb(0, 0, 0);
}

h2 {
  color: rgb(253, 237, 165);
  margin-left: 360px;
  font-size: 30px;
}

h3 {
  color: cornsilk;
  text-align: left;
  margin-left: 200px;
  font-size: 25px;
}

p {
  color: cornsilk;
  font-size: 21.5px;
  text-align: left;
  margin-left: 360px;
  margin-right: 360px;
  line-height: 1.5;
}

div.topnav {
  background-color: rgb(158, 43, 35);
  overflow: 100%;
  white-space: wrap;
  border: 4px;
  border-color: cornsilk;
  margin-left: -10px;
  margin-right: -10px;
  text-align: center;
}

div.topnav a {
  display: inline-block;
  color: cornsilk;
  font-size: 22px;
  font-weight: bold;
  padding: 18px;
  text-decoration: none;
}

div.topnav a:hover {
  background-color: rgb(197, 55, 36);
}

.column {
  float: left;
  width: 20%;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}